<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

	<update id="viewcount">
		update REVIEWBOARD2 set viewcnt=viewcnt+1
		where rNum=#{rNum}
		
	</update>





	<insert id="create">
		INSERT INTO REVIEWBOARD2 VALUES
		(REVIEWBOARD2_RNUM_SEQ.NEXTVAL, 1, #{title},
		#{content}, #{writer},
		SYSDATE,0)
	</insert>

	<select id="read" resultType="org.zerock.domain.BoardVO">
		select
		rNum, title, content, writer,
		rdate ,fNum ,viewcnt
		from
		REVIEWBOARD2
		where rNum = #{rNum}
	</select>

	<update id="update">
		update REVIEWBOARD2 set title =#{title}, content
		=#{content}
		where rNum = #{rNum}
	</update>

	<delete id="delete">
		delete from REVIEWBOARD2 where rNum = #{rNum}
	</delete>

	<select id="listAll" resultType="org.zerock.domain.BoardVO">
 	<![CDATA[
		select * from reviewboard2 where rnum > 0
		order by rnum desc, rdate desc
 	]]>
	</select>

	<select id="listPage" resultType="org.zerock.domain.BoardVO">
 <![CDATA[
 select 
   rNum, title, content, writer, regdate, viewcnt 
 from 
   REVIEWBOARD2 
 where rNum > 0 
 order by rNum desc, regdate desc
 limit #{page}, 10
 ]]>
	</select>

	<select id="listCriteria" resultType="org.zerock.domain.BoardVO">
 <![CDATA[
 select 
   rNum, title, content, writer, regdate, viewcnt 
 from 
   REVIEWBOARD2 
 where rNum > 0 
 order by rNum desc, regdate desc
 limit #{pageStart}, #{perPageNum}
 ]]>
	</select>



	<select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(rNum) 
 from 
   REVIEWBOARD2 
 where 
   rNum > 0 
 ]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="org.zerock.domain.BoardVO">
<![CDATA[  
  select * 
  from REVIEWBOARD2 
  where rNum > 0 
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by rNum desc
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(rNum) 
  from REVIEWBOARD2 
  where rNum > 0 
]]>
		<include refid="search"></include>

	</select>

</mapper>
