<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moa.dao">

<insert id="create">
	INSERT INTO usersignup2 ( userID , userPW , userName , userEmail)
		VALUES (#{userID},#{userPW},#{userName},#{userEmail})
	</insert>
	
	
	<select id="login" resultType="moa.vo.MemberVO">
		select userID, userPW
		from usersignup2
		where userID = #{userID}
		and userPW = #{userPW}
	</select>
</mapper>